<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include('../_shared/meta.ejs') %>
  <title>Home</title>
  <%- include('../_shared/stylesheets.ejs') %>
  <link rel="stylesheet" href="/public/css/home/index.css" />
</head>

<body>
  <%- include('../_shared/header.ejs') %>

  <div b-bddmc6yalx class="container">
    <main b-bddmc6yalx role="main" class="pb-3">

      <div class="text-center">
        <h1 class="display-4">Welcome ToDo hello<i class="fas fa-clipboard-list"></i></h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
      </div>

    </main>
  </div>

  <%- include('../_shared/footer.ejs') %>
  <%- include('../_shared/javascripts.ejs') %>
</body>

</html>