<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include('../_shared/meta.ejs') %>
  <title>Privacy Policy</title>
  <%- include('../_shared/stylesheets.ejs') %>
  <!-- <link rel="stylesheet" href="/public/css/home/index.css" /> -->
</head>

<body>
  <%- include('../_shared/header.ejs') %>

  <div b-bddmc6yalx class="container">
    <h1>Privacy Policy</h1>

    <p>Use this page to detail your site's privacy policy.</p>
    
  </div>

  <%- include('../_shared/footer.ejs') %>
  <%- include('../_shared/javascripts.ejs') %>
</body>

</html>