<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include('../_shared/meta.ejs') %>
  <title>Todo Create</title>
  <%- include('../_shared/stylesheets.ejs') %>
</head>

<body>
  <%- include('../_shared/header.ejs') %>

  <div b-bddmc6yalx class="container">
    <main role="main" class="pb-3">
      <form method="POST" action="/todo/create">
        <div class="mb-3">
          <label for="title">件名 <span class="text-danger">*</span></label>
          <input type="text" class="form-control" id="title" name="title" placeholder="件名を入力してください">
        </div>
        <div class="mb-3">
          <label for="description">説明</label>
          <textarea class="form-control" id="description" name="description" rows="3"></textarea>
        </div>
        <div class="mb-3">
          <label for="deadline">締め切り</label>
          <input type="date" class="form-control" id="deadline" name="deadline">
        </div>
        <div class="mb-3">
          <label for="priority">優先度</label>
          <select class="form-control" id="priority" name="priority">
            <option></option>
            <option>高</option>
            <option>中</option>
            <option>低</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="status">ステータス</label>
          <select class="form-control" id="status" name="status">
            <option></option>
            <option>未着手</option>
            <option>着手中</option>
            <option>完了</option>
          </select>
        </div>
        <a class="btn btn-light" href="/todo/index">キャンセル</a>
        <button type="submit" class="btn btn-primary">登録</button>
      </form>
    </main>
  </div>

  <%- include('../_shared/footer.ejs') %>
  <%- include('../_shared/javascripts.ejs') %>
</body>

</html>